* {
  box-sizing: border-box;
}

#body {
  background-color: #22254b;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

#root{
  display: flex;
  flex-direction: column;
}

.search, .sort {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  color: white;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  margin-right: 0.5rem;
}

.sort:hover{
  transform: scale(1.03);
}

.form-select, .form-control {
  background-color: #373b69 !important;
  color: white !important;
  margin: 5px;
}

header{
  background-color: #373b69;
  padding: 1rem;
  display: flex;
  justify-items: flex-start;
}

.movie-container {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
}

.movie img {
  max-width: 100%;
}

.movie-info   {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-action {
  display: flex;
  align-items: center;
}

.movie-action span {
  margin-right: 10px;
}

.movie-info h3 {
  margin: 0;
}

.movie-over {
  background-color: #fff;
  color: #373b69;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}


.movie:hover .movie-over{
  transform: translateY(0%);
}

.pagination {
  justify-content: center;
}

.page-link{
  margin-top: 1rem;
  background-color: #373b69 !important;
  border-color: #22254b !important;
}